@charset "utf-8";
@function rem($value){
    @return ($value/16)+rem;
}
@font-face {
    font-family: '851H-kktt,OSAKA';
    /* フォーマットごとにパスを指定 */
    src: url('../fonts/851H-kktt.ttf') format('truetype');
    src: url('../fonts/Osaka/OSAKA.TTF') format('truetype');
  }
$color-span:#939393;
$color-text:#fff;
$color-blue:#0C6A72;
$color-red:#720C0C;
$color-green:#1A3E0A;
$color-btn:#E5B61C;
body{
  background:url(../images/img_bg.png) no-repeat top left /cover;
  text-align: center;
  font-size:rem(18);
  color:$color-text;
  font-family: '851H-kktt', sans-serif;
  
  line-height: (30/25);
}
.index__select{
  display: inline-block;
  font-size:rem(25);
  margin:(96em/25) auto 0;
  font-weight:400;
  &__span{
    font-family: 'OSAKA',serif;
    font-size:rem(12);
    display: block;
    margin-top: (8em/12);
    color:$color-span;
    line-height: 1;
  }
}
.container{
  margin-bottom:(82em/18) ;
  //circle start
  &__toggle{
  display: block;
  margin: (45em/18) auto (15em/18) ;
  width:auto;
  height: auto;
}
//circle end
//circle-text start
&__name{
  font-size: rem(18);
  font-weight: normal;
  display: inline-block;
}
&__span{
  display: block;
  font-family: 'OSAKA',serif;
  font-size: rem(10);
  color: $color-span;
  margin-top: (4em/10);
}
//circle-text end
}
#modalOne{
  background:url(../images/img_bg2.png) no-repeat top left /cover;
}
#modalTwo{
  background:url(../images/img_bg3.png) no-repeat top left /cover;
}
#modalThree{
  background:url(../images/img_bg4.png) no-repeat top left /cover;
}
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
&__content {
    padding: (20em/16);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: show 0.2s linear 0s;
}
&__top {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
}
&__close {
    color:$color-text;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    padding: 0 8px;
}
&__close:hover, &__close:focus {
  text-decoration: none;
  cursor: pointer;
}
&__title {
  color: #000;
}
&__flex{
  display: flex;
  align-items: center;
}
&__container{
  margin-top: 25vh;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
}

.popuparea{
  text-align: left;
  &__title{
    font-size:rem(28);
    color:$color-text;
    display: inline-block;
    margin-bottom: (20em/28);
  }
  &__span{
    font-family: 'OSAKA',serif;
    font-size: rem(12);
    color: $color-span;
    display: block;
    margin-bottom: (10em/12);
  }
  &__text{
    font-size: rem(14);
    line-height: 1.2;
  }
  &__btn{
    position: relative;
    color:$color-text;
    font-size: rem(14);
    padding:(10em/14)(30em/14);
    background-color: $color-btn;
    border-radius: 19px;
    margin-top: (40em/14);
  }
  &__btnImg{
    position:absolute;
    top:-50%;
    left:75%;
    width: 50%;
  }
  &__leftbox{
    width: 49%;
    margin-right:(20em/14) ;
  }
  }
/*    load.html--------   */
.load{
  margin-top:50vh;
  &__title{
    font-size: rem(25);
    color: $color-text;
  }
  &__span{
    font-family: 'OSAKA',serif;
    display: block;
    font-size: rem(12);
    color:$color-span;
    line-height: 1;
    margin-top: (18em/12);
  }
}
