@charset "utf-8";
@function rem($value){
    @return ($value/16)+rem;
}
@font-face {
    font-family: '851H-kktt,OSAKA';
    /* フォーマットごとにパスを指定 */
    src: url('../fonts/851H-kktt.ttf') format('truetype');
    src: url('../fonts/Osaka/OSAKA.TTF') format('truetype');
  }
$color-span:#939393;
$color-text:#fff;
$color-blue:#0C6A72;
$color-red:#720C0C;
$color-green:#1A3E0A;
body{
  background:url(../images/img_bg.png) no-repeat top left /cover;
  text-align: center;
  font-size:rem(18);
  color:$color-text;
  font-family: '851H-kktt', sans-serif;
  
  line-height: (30/25);
}
.index__select{
  display: inline-block;
  font-size:rem(25);
  margin:(96em/25) auto 0;
  font-weight:400;
  &__span{
    font-family: 'OSAKA',serif;
    font-size:rem(12);
    display: block;
    margin-top: (8em/12);
    color:$color-span;
    line-height: 1;
  }
}
.demo{
  margin-bottom:(82em/18) ;
  //circle start
  &__circle{
  display: block;
  margin: (45em/18) auto (12em/18) ;
  width:115px;
  height: 115px;
  background: #fff;
  border-radius: 70px;
}
&__color1{
  border: 3px solid $color-blue;
}
&__color2{
  border: 3px solid $color-red;
}
&__color3{
  border: 3px solid $color-green;
}
//circle end
//circle-text start
&__name{
  font-size: rem(18);
  font-weight: normal;
  display: inline-block;
}
&__span{
  display: block;
  font-family: 'OSAKA',serif;
  font-size: rem(10);
  color: $color-span;
  margin-top: (4em/10);
}
//circle-text end
}

/* modal start -----  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal1 {
  max-width: 500px;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background:url(../images/img_bg.png) no-repeat top left /cover;
  color: $color-text;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  //とじる
  &__close,.modal1{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  }
}

/* activeクラス付与 */
.modal1.active {
  opacity: 1;
  visibility: visible;
}


/*    load.html--------   */
.load{
  margin-top: 100%;
  &__title{
    font-size: rem(25);
    color: $color-text;
  }
  &__span{
    font-family: 'OSAKA',serif;
    display: block;
    font-size: rem(12);
    color:$color-span;
    line-height: 1;
    margin-top: (18em/12);
  }
}
