@charset "utf-8";

body{
  background-color: #ccc;
}
.modal {
  display: block;
  width: 414px;
  max-width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  background: #fff;
  &__guts {
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
  }
  //✗マークの位置
  .modal,&__close-button {
    position: absolute;
    z-index: 1;
    top:0;
    right: 0;
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
    }
    &__flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   }
  .closed {
    display: none;
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: .9;
  }

  .open-button {
  border: 0;
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  }